<div class="container">
    <div #notRegistered class="fetch-email-error not-registerd mb-3">
        This Email is not registerd!
    </div>
    <div class="row">
        <div class="col">
            <label for="email">Enter user Email :</label>
            <input #email type="text" id="email-edit" class="fetch-email">
            <button class="btn btn-primary ms-2" (click)="fetchUser(email.value)">Fetch User</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="form-gorup mb=3">
                    <label for="name">Username</label>
                    <input 
                        type="text" 
                        id="name" 
                        class="form-control"
                        name="name"
                        [ngModel]="notEditedUser.name"
                        required
                        readonly>
                </div>
                <div class="form-gorup mb=3">
                    <label for="lastname">Last Name</label>
                    <input 
                        type="text" 
                        id="lastname" 
                        class="form-control"
                        name="lastName"
                        [ngModel]="notEditedUser.lastName"
                        required
                        readonly>
                </div>
                <div class="form-gorup mb=3">
                    <label for="email">Email</label>
                    <input 
                        type="text"
                        id="email" 
                        class="form-control"
                        name="email"
                        [ngModel]="notEditedUser.email"
                        required
                        readonly>
                </div>
                <div class="form-gorup mb-3">
                    <label for="password">Password</label>
                    <input 
                        type="password" 
                        id="password" 
                        class="form-control"
                        name="password"
                        [ngModel]="notEditedUser.password"
                        required
                        readonly>
                </div>
                <div class="form-check mb-3">
                    <input 
                        type="checkbox" 
                        id="isadmin"
                        class="form-check-input"
                        name="isAdmin"
                        [ngModel]="notEditedUser.isAdmin">
                    <label for="isadmin">Admin</label>
                </div>
                <button 
                    type="submit" 
                    class="btn btn-primary mb-3"
                    [disabled]="!f.valid">Save changes</button>
            </form>
        </div>
    </div>
</div>