.signup-form {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 20px;
    padding: 30px;
}
input.ng-invalid.ng-touched {
    border-color: red;
}
input.ng-valid {
    border-color: lawngreen;
}
.invalid-value {
    margin-top: 5px;
    width: fit-content;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: orange;
    padding: 10px;
    font-size: small;
}
.fail-login {
    display: block;
    color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: 10px;
}
.fail-message {
    margin: 0;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
}
.normal {
    display: none;
}